<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input class="form-control mb-2" type="text" name="username" [(ngModel)]="data.username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <input class="form-control mb-2" type="password" name="password" [(ngModel)]="data.password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <input class="form-control mb-2" type="email" name="email" [(ngModel)]="data.email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <input class="form-control mb-2" type="text" name="city" [(ngModel)]="data.city" placeholder="City" required>
    </div>
    <div class="form-group">
        <input class="form-control mb-2" type="text" name="country" [(ngModel)]="data.country" placeholder="Country" required>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-danger" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>